
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #474aff;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555;
}

h3 {
    font-size: 1.2em;
    color: #333;
    margin-top: 20px;
}

.imagens {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.imagens img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

form {
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 10px;
    margin-left: 10px;
}

.container-input {
    margin-top: 20px;
}

input[type="button"], input[type="reset"] {
    background-color: #474aff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight:bold;
}

input[type="button"]:hover, input[type="reset"]:hover {
    background-color: #474aff;
}

#pc {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

#placar {
    font-weight: bold;
    font-size: 1.2em;
}
